:host {
	display: contents;
}

.legal {
	color: #b5e93b;
}

.privacy {
	color: #fffdfd;
}

.privacy:hover {
	text-decoration: underline;
}

input:not([type="checkbox"]) {
	width: 100%;
	color: #fffdfd;
	font-weight: 400;
	font-size: var(--fs-input);
	border: 1px solid #b5e93b;
	border-radius: 30px;
	padding: 25px 21px;

	&:user-invalid {
		border-color: #fd2e12;
		color: #fd2e12;
	}

	&:focus {
		outline: none;
		border: 1px solid #b5e93b;
	}

	&::placeholder {
		color: #d3ed97;
	}
}

.send-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	column-gap: 1rem;
}

.checkbox-text {
	align-self: start;
	display: flex;
}

button {
	align-self: end;
}
