<form action="" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
	<input
		type="text"
		name="name"
		id=""
		[placeholder]="language() === 'EN' ? 'Your Name' : 'Ihr Name'"
		[(ngModel)]="contactData.name"
		#name="ngModel"
		required
	/>
	<input
		ngModel
		pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
		type="email"
		name="email"
		id=""
		[placeholder]="language() === 'EN' ? 'Your Email' : 'Ihre Email-Adresse'"
		[(ngModel)]="contactData.email"
		#email="ngModel"
		required
	/>
	<textarea
		name="message"
		rows="8"
		cols="30"
		[placeholder]="language() === 'EN' ? 'Your Message' : 'Ihre Nachricht an mich'"
		[(ngModel)]="contactData.message"
		#message="ngModel"
		required
	></textarea>
	<div class="send-message">
		<div class="checkbox-text">
			<input type="checkbox" name="" />
			<span class="legal">
				@if (language() === "EN") {
					I've read the <a class="privacy" href="privacy">privacy policy</a> and agree to the
					processing of my data as outlined.
				} @else {
					Ich habe die <a class="privacy" href="privacy">Datenschutzerklärung</a> gelesen und stimme
					der Verarbeitung meiner Daten wie darin beschrieben zu.
				}
			</span>
		</div>
		<button type="submit" class="primary"><span>Send</span></button>
	</div>
</form>
