<form action="">
	<input type="text" name="" id="" placeholder="Your Name" />
	<input type="text" name="" id="" placeholder="Your E-mail" />
	<textarea rows="8" cols="30" placeholder="Your Message"></textarea>
	<div class="send-message">
		<div class="checkbox-text">
			<input type="checkbox" name="" />
			<span class="legal"
				>I've read the <a class="privacy" href="privacy">privacy policy</a> and agree to the
				processing of my data as outlined.</span
			>
		</div>
		<button class="primary" disabled><span>Send</span></button>
	</div>
</form>
