@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;

	@include mixins.desktop {
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		position: relative;
	}
}

span {
	text-align: center;
}

h2 {
	align-self: start;

	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

img {
	width: auto;
	height: auto;
}

.svg-container {
	width: min(100%, 150px);
}

.image-list {
	display: grid;
	grid-template-columns: min(100%, 300px);
	grid-template-rows: auto auto;
	flex-direction: column;
	place-items: end center;
	justify-content: center;
	row-gap: 1rem;
	overflow: visible;

	@include mixins.desktop {
		grid-template-columns: auto;
		grid-template-rows: 250px auto;
	}

	span {
		font-size: var(--fs-medium);
	}
}

.features {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
	width: 100%;
}

h4 {
	color: var(--accent-color);

	@include mixins.desktop {
		align-self: start;
	}
}

.spacer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;

	@include mixins.desktop {
		justify-content: end;
	}
}

.image-list.desktop {
	display: none;

	@include mixins.desktop-no-tablet {
		display: grid;
	}
}

.middle {
	display: contents;

	@include mixins.desktop {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		width: min(80%, 1200px);
	}
}

.images {
	display: contents;

	@include mixins.desktop {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}

.arrow {
	display: none;

	@include mixins.desktop {
		display: initial;
		align-self: end;
	}
}

.first {
	display: contents;

	@include mixins.desktop {
		display: flex;
		column-gap: 2vw;
		align-items: end;
	}
}
