:host {
	display: contents;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	row-gap: 2rem;
	height: 100vh;
	width: 100%;
	background-color: red;
}

h2 {
	align-self: start;
}

img {
	height: 50px;
	aspect-ratio: 1;
}

.image-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
