@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2rem;

	@include mixins.desktop {
		flex-direction: row;
		align-items: start;
		column-gap: 2vw;
		width: auto;
	}
}

.projects {
	display: contents;

	@include mixins.desktop {
		display: flex;
		column-gap: 3vw;
		height: 100%;
	}
}

h2 {
	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

.arrow {
	display: none;

	@include mixins.desktop {
		display: revert;
		align-self: end;
	}
}
