<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" [style.--rotate]="rotate()">
	<defs>
		<path
			id="circlePath"
			d="
        M 50,50
        m -30,0
        a 30,30 0 1,1 60,0
        a 30,30 0 1,1 -60,0
      "
			fill="none"
			stroke-width="4"
			stroke="hsl(0 100% 50% / 0.5)"
		/>
	</defs>

	<text
		font-family="inherit"
		font-size="var(--fs-medium)"
		font-weight="bold"
		fill="var(--text-color-light)"
	>
		<textPath href="#circlePath">{{ text() }}</textPath>
	</text>
</svg>
