@use "../../../../global-styles/mixins";

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
	padding-inline: 24px;

	@include mixins.desktop {
		position: relative;
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		padding-right: 24px;
		padding-left: calc(var(--section-desktop-padding-left));
		height: 100%;
		width: calc(100vw - var(--aside-width));
		padding-block: var(--padding-block-section-desktop);
		column-gap: 2vw;
	}
}

h2 {
	align-self: start;

	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

.first {
	display: contents;

	@include mixins.desktop {
		display: flex;
	}
}

.middle {
	display: contents;

	@include mixins.desktop {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
