@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;

	@include mixins.desktop {
		position: relative;
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		flex-basis: calc(100vw - var(--padding-inline-section-desktop));
		padding-right: calc(2rem + var(--aside-width));
		padding-left: 0;
		padding-bottom: 24px;
		margin-left: var(--padding-inline-section-desktop);
		column-gap: 2vw;
	}
}

aside {
	display: none;

	@include mixins.desktop {
		position: absolute;
		right: 0;
		top: 0;
		display: revert;
		height: 100vh;
		width: var(--aside-width);
		background: var(--menu-color);
	}
}

h2 {
	align-self: start;

	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

.first {
	display: contents;

	@include mixins.desktop {
		display: flex;
	}
}

.middle {
	display: contents;

	@include mixins.desktop {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	@media (width <= 1100px) and (width >= 768px) {
		flex-direction: column-reverse;
		row-gap: 2rem;
		align-items: center;
	}
}
