:host {
	display: contents;
}

svg path:nth-of-type(1) {
	stroke: var(--accent-color);
}

svg path:nth-of-type(2) {
	fill: var(--accent-color);
}

:host-context(.image-list:hover) svg path:last-of-type {
	stroke-width: 2px;
}
