@use "../../../global-styles/mixins";

:host {
	display: contents;
}

.container {
	padding-block: 2rem;
	padding-inline: 1rem;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-block: 2.5rem;
	row-gap: 0.25rem;
	background-color: var(--color-footer);
	border-radius: 4px;
	box-shadow:
		1px 1px 3px inset var(--accent-color-lighter),
		1px 1px 3px var(--comp-text-color);

	@include mixins.desktop {
		display: none;
	}
}

footer .img-container {
	height: 64px;
	aspect-ratio: 1;
}

footer :is(a, span) {
	color: var(--text-color-light);
}

.last {
	display: flex;
	column-gap: 2rem;
}

.copy {
	display: flex;
	align-items: end;
	column-gap: 0.25rem;
}
