@use "../../../global-styles/mixins";

:host {
	display: contents;
}

footer {
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
	background: var(--menu-color);

	@include mixins.desktop {
		display: none;
	}
}

footer img {
	height: 20px;
}
