@use "../../../global-styles/mixins";

:host {
	display: contents;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-block: 1rem;
	background: var(--menu-color);

	@include mixins.desktop {
		display: none;
	}
}

footer .img-container {
	height: 64px;
	aspect-ratio: 1;
}

footer :is(a, span) {
	color: var(--text-color-light);
}

.last {
	display: flex;
	column-gap: 2rem;
}
