@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

section {
	padding-block: calc(var(--header-height) + var(--padding-block-section-mobile));
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	row-gap: 2rem;

	@include mixins.desktop {
		flex-direction: row;
		justify-content: end;
		column-gap: 10vw;
		position: relative;
		flex-basis: calc(100vw - var(--aside-width));
		padding-left: 0;
	}
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include mixins.desktop {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: end;
		height: 100%;
		row-gap: 0;
		width: 50%;
	}
}

.dev {
	color: var(--accent-color-lighter);
	font-size: clamp(1.5rem, 1.125rem + 1.875vw, 3rem);
	z-index: 5;

	@include mixins.desktop {
		color: var(--comp-bg-color);

		@include mixins.multi-shadow(var(--bg-color));
	}
}

h1 {
	text-wrap: nowrap;
	z-index: 5;

	@include mixins.desktop {
		line-height: 0.7;

		@include mixins.multi-shadow(var(--bg-color));
	}
}

.img-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include mixins.desktop {
		user-select: none;
		display: block;
		position: absolute;
		height: auto;
		width: max(35vw, 550px);
		max-width: 1000px;
		bottom: 7vh;
		right: 0;
		left: 0;
		margin: auto;
	}
}

img {
	object-fit: contain;
	width: min(85%, 400px);
	mask-image: radial-gradient(black 45%, transparent 70%);

	@include mixins.desktop {
		user-select: none;
		width: 100%;
		position: relative;
	}
}

span:not(.dev) {
	font-size: 18px;

	@include mixins.desktop {
		display: none;
	}
}
