@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;

	@include mixins.desktop {
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
	}
}

h2 {
	@include mixins.desktop {
		align-self: end;
	}
}

#Layer_1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
}

.img-grid {
	--column-width: 10ch;

	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 65px);
	align-items: center;
	justify-content: space-between;
	row-gap: 2rem;

	@include mixins.desktop {
		grid-template-columns: repeat(auto-fill, var(--column-width));
		grid-template-rows: 90px;
		grid-auto-rows: 90px;
		gap: 1.5rem 2.5rem;
	}
}

.skill-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	row-gap: 0.5rem;

	& span {
		display: none;

		@include mixins.desktop {
			display: revert;
		}
	}
}

.img-container {
	--offset: 3px;
	--offset-negative: calc(-1 * var(--offset));
	--blur: 6px;

	position: relative;
	height: 40px;
	aspect-ratio: 1;
	overflow: hidden;
	border-radius: 15px;
	box-shadow:
		var(--offset-negative) var(--offset-negative) var(--blur) var(--comp-text-color),
		var(--offset) var(--offset) var(--blur) var(--accent-color-lighter);
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: saturate(50%);
}

.title {
	text-transform: capitalize;
}

.middle {
	display: contents;

	@include mixins.desktop {
		display: flex;
		flex-direction: column;
		width: 100%;
		row-gap: 5vh;
	}
}

button.primary {
	@include mixins.desktop {
		display: none;
	}
}

.first {
	display: contents;

	@include mixins.desktop {
		display: flex;
		column-gap: 2vw;
		align-items: end;
		width: min(80%, 1200px);
	}
}
