@use "../../../global-styles/mixins";

:host {
	display: contents;
}

header {
	position: fixed;
	width: 100%;
	height: var(--header-height);
	background: var(--header-color);
	padding-block: 1rem;
	z-index: var(--fixed-z-index);
	border-bottom-right-radius: var(--header-border-radius);
	border-bottom-left-radius: var(--header-border-radius);
	transition: border-radius var(--transition-eternity);

	@include mixins.desktop {
		display: none;
	}
}

header .nav-mobile a {
	height: 100%;
}

header:has(.active) {
	background: linear-gradient(to bottom, var(--accent-color), var(--comp-bg-color) 300%);
	box-shadow: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.img-mobile {
	object-fit: contain;
	height: 100%;
	width: auto;
	align-self: end;
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;

	@include mixins.desktop {
		flex-direction: column;
		justify-content: space-around;
		padding-block: var(--padding-h-1);
	}
}
