@use "../../../global-styles/mixins";

:host {
	display: contents;
}

header {
	position: fixed;
	width: 100%;
	height: var(--header-height);
	background: var(--header-color);
	padding-block: 1rem;
	z-index: var(--fixed-z-index);
	box-shadow: 0 1px 10px black;

	@include mixins.desktop {
		display: none;
	}
}

aside {
	display: none;

	@include mixins.desktop {
		padding-block: calc(var(--padding-block-section) * 2);
		padding-inline: var(--padding-1);
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: var(--aside-width);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--accent-color);
		box-shadow: 0 1px 10px black;
		z-index: var(--fixed-z-index);
	}
}

.nav-mobile a {
	height: 100%;
}

.nav-desktop a {
	font-family: inherit;
	font-size: var(--fs-menu-a);
	color: var(--text-color-gray);
	writing-mode: sideways-lr;
	display: inline-block;

	&:hover,
	&.active {
		color: var(--accent-color);

		@include mixins.multi-shadow(var(--text-color-gray));
	}
}

header:has(.active) {
	background: var(--accent-color);
	box-shadow: none;
}

.img-desktop {
	@include mixins.desktop {
		width: 100%;
		height: auto;
		aspect-ratio: revert;
		object-fit: cover;
	}
}

.img-mobile {
	object-fit: contain;
	height: 100%;
	width: auto;
	align-self: end;
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;

	@include mixins.desktop {
		flex-direction: column;
		justify-content: space-around;
		padding-block: var(--padding-3);
	}
}
