@use "../../../global-styles/mixins";

:host {
	display: contents;
}

header {
	position: fixed;
	width: 100%;
	height: var(--header-height);
	background: var(--header-color);
	padding-block: 1rem;
	z-index: var(--fixed-z-index);
	box-shadow: 0 1px 10px black;

	@include mixins.desktop {
		display: none;
	}
}

.nav-mobile a {
	height: 100%;
}

header:has(.active) {
	background: var(--accent-color);
	box-shadow: none;
}

.img-mobile {
	object-fit: contain;
	height: 100%;
	width: auto;
	align-self: end;
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;

	@include mixins.desktop {
		flex-direction: column;
		justify-content: space-around;
		padding-block: var(--padding-h-1);
	}
}
