<header>
	<nav class="nav-mobile">
		<a href="#"><img class="img-mobile" src="/img/logo_dark.png" alt="" /></a
		><app-menu-button [(menuOpen)]="menuOpen" />
	</nav>
</header>
<aside>
	<a href="#"><img class="img-desktop" src="/img/logo_dark.png" alt="Logo" /></a>
	<nav class="nav-desktop">
		<a href="#why-me">
			@if (language() === "EN") {
				Why me
			} @else {
				Wieso ich
			}
		</a>
		<a href="#skills">
			@if (language() === "EN") {
				My Skill Set
			} @else {
				Meine Skills
			}
		</a>
		<a href="#projects">
			@if (language() === "EN") {
				My Work
			} @else {
				Projekte
			}
		</a>
		<a href="#contact">
			@if (language() === "EN") {
				Contact me
			} @else {
				Kontakt
			}
		</a>
	</nav>
</aside>
