<header>
	<nav><span>1 text</span><app-menu-button [(menuOpen)]="menuOpen" /></nav>
</header>
<aside>
	<a href="#"><img src="/img/logo.png" alt="Logo" /></a>
	<nav>
		<a href="#why-me">
			@if (language() === "EN") {
				Why me
			} @else {
				Wieso ich
			}
		</a>
		<a href="#skills">
			@if (language() === "EN") {
				My Skill Set
			} @else {
				Meine Skills
			}
		</a>
		<a href="#projects">
			@if (language() === "EN") {
				My Work
			} @else {
				Projekte
			}
		</a>
		<a href="#contact">
			@if (language() === "EN") {
				Contact me
			} @else {
				Kontakt
			}
		</a>
	</nav>
</aside>
