@use "../../../global-styles/mixins";

:host {
	--row-gap-grid: 1.5rem;
	--row-gap-grid-desktop: 1rem;

	color: var(--text-color-card);
	display: contents;
}

.wrapper {
	position: relative;
	height: 100%;
}

.content {
	display: contents;

	@include mixins.desktop {
		height: 100%;
		width: 100%;
		display: grid;
		align-items: start;
		grid-template-rows: auto auto auto 1fr;
		grid-template-columns: 1fr 1fr;
		gap: 1rem 2rem;
	}
}

.grid {
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: auto auto auto auto;
	row-gap: var(--row-gap-grid);

	@include mixins.desktop {
		display: contents;
	}
}

.collapsable-grid {
	width: 100%;
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 1s cubic-bezier(0, 0, 0.2, 1);
	align-items: center;

	@include mixins.desktop {
		display: contents;
	}
}

.collapsable-grid.active {
	grid-template-rows: 1fr;
	align-items: center;
}

.project {
	// box-shadow: 0 0 10px hsl(from var(--accent-color) h s 80% / 75%);
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: var(--bg-color-card);
	border-radius: var(--border-radius-card);
	padding: clamp(1rem, 0.9rem + 0.75vw, 1.75rem);
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: var(--row-gap-grid);

	@include mixins.desktop {
		max-height: 100%;
		height: auto;
		width: min(65vw, 900px);
		row-gap: var(--row-gap-grid-desktop);
		overflow-y: auto;
	}
}

.show {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 1rem;

	@include mixins.desktop {
		display: none;
	}
}

.active .show {
	position: relative;
}

.d-none {
	display: none;
}

h3 {
	line-height: 1;
	align-self: revert;
	// color: var(--bg-color-card);
}

h5 {
	color: inherit;
	line-height: 1;
}

.name {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;
}

.item {
	padding-left: 2rem;
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 0.25rem;
}

.item:nth-child(1) {
	@include mixins.desktop {
		grid-column: 1/2;
	}
}

.grid .item:nth-child(1) {
	@include mixins.desktop {
		grid-row: 2/3;
		grid-column: 1/2;
	}
}

.grid .item:nth-child(2) {
	@include mixins.desktop {
		grid-column: 1/3;
	}
}

.item::before {
	position: absolute;
	left: 0;
	top: calc(var(--fs-h6) / 2 - 1px);
	content: "";
	width: 12px;
	aspect-ratio: 1;
	border: 1px solid var(--accent-color-2);
	border-radius: 50%;
	background: transparent;
	flex-shrink: 0;
}

.img-container {
	height: auto;
	width: 100%;
	overflow: hidden;

	@include mixins.desktop {
		width: 75%;
	}
}

.container-img-buttons {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	align-items: center;
	align-self: center;

	@include mixins.desktop {
		grid-row: 1/3;
		grid-column: 2/3;
	}
}

.img-container img {
	border-radius: var(--border-radius-card);
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
	z-index: 2;
}

.show button {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
}

.show button span {
	font-family: inherit;
	color: var(--bg-color);
	text-decoration: underline;
}

.show.active button span {
	color: var(--accent-color);
}

.show button img {
	height: 1lh;
	width: auto;
	transition: rotate 225ms;
	rotate: -180deg;
}

.active .show button img {
	rotate: -0deg;
}

@include mixins.tablet {
	.buttons {
		flex-direction: column;
		row-gap: 1rem;
	}

	.container-img-buttons {
		grid-row: 1/2;
	}

	.grid .item:nth-child(1) {
		grid-row: 2/3;
		grid-column: 1/3;
	}
}
