<div class="wrapper" [class.active]="isActive()">
	<div class="project">
		<div class="name">
			<h3>{{ index() + 1 }}</h3>
			<h5>{{ projectInfo().name }}</h5>
		</div>
		<div class="content">
			<div class="item">
				<h6>
					@if (language() === "EN") {
						About the project
					} @else {
						Über das Projekt
					}
				</h6>
				<p>{{ projectInfo().about[language()] }}</p>
			</div>
			<div class="collapsable-grid" [class.active]="isActive()">
				<div class="item">
					<h6>
						@if (language() === "EN") {
							Technologies i have used
						} @else {
							Software die ich verwendet habe
						}
					</h6>
					<p>{{ projectInfo().tech[language()] }}</p>
				</div>
				<div class="item">
					<h6>
						@if (language() === "EN") {
							What i have learned
						} @else {
							Was ich gelernt habe
						}
					</h6>
					<p>{{ projectInfo().learning[language()] }}</p>
				</div>
				<div class="container-img-buttons">
					<div class="img-container">
						<img [src]="projectInfo().imageSrc" alt="" />
					</div>
					<div class="buttons">
						<button class="secondary">
							<a target="_blank" [href]="projectInfo().githubSrc">Github</a>
						</button>
						<button class="primary">
							<a target="_blank" [href]="projectInfo().pageSrc">Live Test</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="show">
		<button (mousedown)="onShowMore()">
			<span>{{ isActive() ? "Show me less" : "Show me more" }}</span>
			<img src="/my-work/show-icon-project.svg" alt="" />
		</button>
	</div>
</div>
