* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

button,
a,
input {
	cursor: pointer;
}

button {
	border: initial;
	background: initial;
}

input {
	min-width: 0;
	border: initial;
	background: initial;
}

a {
	text-decoration: initial;
	color: inherit;
}
