@use "mixins";

button:is(.primary, .secondary) {
	padding: var(--padding-block-button) var(--padding-inline-button);
	border-radius: var(--border-radius-button);
	transition:
		scale var(--transition-slow),
		background-color var(--transition-slow),
		color var(--transition-slow);

	&:hover:not(:disabled) {
		scale: 1.05;
	}
}

button.primary {
	color: var(--text-primary);
	background-color: var(--bg-primary);
	outline: none;
	font-family: inherit;

	& :is(span, a) {
		font-size: var(--fs-button);
		font-weight: 400;
	}

	&:disabled {
		cursor: auto;
		background-color: #9e9d9d;

		& :is(span, a) {
			color: #4a4a4a;
		}
	}

	&:hover:not(:disabled) {
		background: var(--comp-bg-color);
		color: var(--text-color-darker);
	}
}

button.secondary {
	color: var(--text-secondary);
	background-color: var(--bg-secondary);
	outline: none;
	font-family: inherit;

	& :is(span, a) {
		font-size: var(--fs-button);
		font-weight: 400;
	}

	&:disabled {
		cursor: auto;
		border-color: #827b7b;
		background-color: transparent;

		& :is(span, a) {
			color: #827b7b;
		}
	}

	&:hover:not(:disabled) {
		outline: 2px solid var(--bg-color);
		background-color: var(--bg-color);
		color: var(--text-color-light);
	}
}

.socials .img-container {
	cursor: pointer;
}

.menu.open li:hover a svg {
	fill: var(--comp-bg-color);
}

.hoverable {
	color: var(--text-color-light);
	text-decoration: underline var(--accent-color);

	svg {
		fill: var(--text-color-light);
		transition: translate var(--transition-slow);
	}

	&:hover {
		text-decoration: underline var(--comp-bg-color);
	}

	&:hover svg {
		translate: 0 -2px;
	}

	&:hover svg path {
		fill: var(--comp-bg-color);
	}

	&:active svg path {
		fill: var(--accent-color);
	}

	&:hover :is(a, span) {
		color: var(--accent-color);
	}

	&:active :is(a, span) {
		color: var(--accent-color);
		text-decoration: underline var(--accent-color);
	}
}

.hoverable-comp {
	text-decoration: underline var(--comp-bg-color);

	&:hover {
		text-decoration: underline var(--bg-color);
	}

	&:hover svg path {
		fill: var(--bg-color);
	}

	&:active svg path {
		fill: var(--comp-bg-color);
	}

	&:hover :is(a, span) {
		color: var(--bg-color);
	}

	&:active :is(a, span) {
		color: var(--comp-bg-color);
		text-decoration: underline var(--accent-color);
	}
}

.hoverable:active {
	text-decoration: none;
}

.socials .img-container:hover svg path {
	fill: var(--comp-bg-color);
}

.comp-text {
	color: var(--comp-bg-color);
}

.comp-text-light {
	color: var(--comp-text-color);
}

.text-underline {
	text-decoration: underline var(--accent-color) 1px;
	text-underline-offset: 2px;
}

.text-underline-comp {
	text-decoration: underline var(--comp-bg-color) 1px;
	text-underline-offset: 2px;
}

.section-headline {
	color: var(--comp-bg-color);
	font-weight: normal;
	text-shadow: none;

	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

.link-arrow-base {
	height: 100%;
	width: 100%;
	object-fit: contain;
	transition:
		filter var(--transition-slow) ease-in-out,
		scale var(--transition-slow) ease-in-out;

	&:hover {
		scale: 1.1;
		filter: drop-shadow(0 0 5px var(--accent-color));
	}

	path {
		stroke: var(--comp-bg-color);
		transition: fill var(--transition-slow) ease-in-out;

		&:hover {
			fill: var(--comp-text-color);
		}
	}
}
