html {
	--fs-small: clamp(16px, 16px, 16px);
	--fs-medium: clamp(1rem, 0.969rem + 0.156vw, 1.125rem);
	--fs-large: clamp(24px, 24px, 24px);
	--fs-h1: clamp(2.2rem, 1.39rem + 4.05vw, 6.25rem);
	--fs-h2: clamp(1.8rem, 1.485rem + 1.575vw, 3.375rem);
	--fs-h3: clamp(2.3rem, 2.06rem + 1.2vw, 3.5rem);
	--fs-h4: clamp(1.8rem, 1.56rem + 1.2vw, 3rem);
	--fs-h5: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
	--fs-h6: clamp(1.175rem, 1.135rem + 0.2vw, 1.375rem);
	--fs-button: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
	--fs-input: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
	--fs-menu-a: clamp(0.875rem, 0.207rem + 1.39vw, 1.875rem);
	--padding-inline-section: clamp(1.5rem, 0rem + 7.5vw, 7.5rem);
	--padding-block-header: clamp(24px, 24px, 24px);
	--padding-block-section-mobile: clamp(24px, 24px, 24px);
	--padding-block-section-desktop: 8vh;
	--header-height: 10vh;
	--desktop-height: calc(100vh - 1rem);
	--aside-width: clamp(6rem, 1.373rem + 9.627vw, 11rem);
	--section-desktop-padding-left: calc(var(--aside-width) + 2vw);
	--bg-color: #252525;
	--bg-color-card: hsl(75deg 32% 23%);
	--accent-color: #b5e93b;
	--accent-color-2: #d3ed97;
	--accent-color-dimmed: #547800;
	--header-color: linear-gradient(to bottom, var(--accent-color), var(--accent-color-dimmed));
	--menu-color: linear-gradient(to bottom, var(--accent-color), var(--accent-color-dimmed));
	--text-color-white: #fffdfd;
	--text-color-gray: #4a4a4a;
	--fixed-z-index: 100;
	--padding-w-1: clamp(0.5rem, 0.125rem + 1.875vw, 2rem);
	--padding-w-2: clamp(1rem, 0.75rem + 1.25vw, 2rem);
	--padding-h-1: clamp(0rem, -1.67rem + 3.475vw, 2.5rem);
	--error-color: #fd2e12;
}
