html {
	--fs-small: clamp(16px, 16px, 16px);
	--fs-medium: clamp(1rem, 0.969rem + 0.156vw, 1.125rem);
	--fs-large: clamp(24px, 24px, 24px);
	--fs-h1: clamp(36px, 36px, 36px);
	--fs-h2: clamp(2rem, 1.656rem + 1.719vw, 3.375rem);
	--fs-h3: clamp(2.5rem, 1.563rem + 4.688vw, 6.25rem);
	--fs-h4: clamp(2rem, 1.75rem + 1.25vw, 3rem);
	--fs-h5: clamp(1.5rem, 1.031rem + 2.344vw, 3.375rem);
	--fs-h6: clamp(1.375rem, 1.344rem + 0.156vw, 1.5rem);
	--fs-button: clamp(14px, 14px, 14px);
	--fs-input: clamp(14px, 14px, 14px);
	--fs-menu-a: clamp(1.125rem, 0.938rem + 0.938vw, 1.875rem);
	--padding-inline-section: clamp(24px, 24px, 24px);
	--padding-block-section: clamp(24px, 24px, 24px);
	--header-height: 10vh;
	--desktop-height: calc(100vh - 1rem);
	--aside-width: 10vw;
	--aside-footer-width: 8vw;
	--section-desktop-padding-left: calc(var(--aside-width) + 2vw);
	--bg-color: #252525;
	--bg-color-card: hsl(75deg 32% 23%);
	--accent-color: #b5e93b;
	--accent-color-2: #d3ed97;
	--accent-color-dimmed: #547800;
	--header-color: linear-gradient(to bottom, var(--accent-color), var(--accent-color-dimmed));
	--menu-color: linear-gradient(to bottom, var(--accent-color), var(--accent-color-dimmed));
	--text-color-white: #fffdfd;
	--text-color-gray: #4a4a4a;
	--fixed-z-index: 100;
	--padding-1: clamp(0.5rem, 0.125rem + 1.875vw, 2rem);
	--padding-2: clamp(4rem, 3.5rem + 2.5vw, 6rem);
	--error-color: #fd2e12;
}
