<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" appAnimationOnScroll>
	<app-form-group>
		<input
			appScrollOnFocus
			ngProjectAs="input-element"
			type="text"
			name="name"
			id=""
			[placeholder]="
				name.invalid && name.dirty
					? placeholders.name[language()].error
					: placeholders.name[language()].valid
			"
			[(ngModel)]="contactData.name"
			#name="ngModel"
			autocomplete="off"
			required
		/>
	</app-form-group>

	<app-form-group>
		<input
			appScrollOnFocus
			ngProjectAs="input-element"
			ngModel
			pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
			type="email"
			name="email"
			id=""
			[placeholder]="
				email.invalid && email.dirty
					? placeholders.email.required[language()].error
					: placeholders.email.required[language()].valid
			"
			[(ngModel)]="contactData.email"
			#email="ngModel"
			autocomplete="off"
			required
		/>
		<span ngProjectAs="error-message">{{
			email.hasError("pattern") ? placeholders.email.pattern[language()].error : ""
		}}</span>
	</app-form-group>
	<app-form-group [checkAlign]="'bottom'">
		<textarea
			appScrollOnFocus
			ngProjectAs="input-element"
			name="message"
			rows="8"
			cols="30"
			[placeholder]="
				message.invalid && message.dirty
					? placeholders.message[language()].error
					: placeholders.message[language()].valid
			"
			[(ngModel)]="contactData.message"
			#message="ngModel"
			autocomplete="off"
			autocorrect="off"
			autocapitalize="off"
			spellcheck="false"
			required
		></textarea>
	</app-form-group>
	<div class="send-message">
		<div class="checkbox-text">
			<div class="checkbox-container">
				<input
					type="checkbox"
					name="privacy"
					required
					autocomplete="off"
					#privacy="ngModel"
					[(ngModel)]="contactData.privacy"
				/>
				<app-lottie-checkbox class="lottie" [(checked)]="contactData.privacy" />
			</div>
			<span class="legal">
				@if (language() === "EN") {
					I've read the <a class="privacy" routerLink="privacy">privacy policy</a> and agree to the
					processing of my data as outlined.
				} @else {
					Ich habe die <a class="privacy" routerLink="privacy">Datenschutzerklärung</a> gelesen und
					stimme der Verarbeitung meiner Daten wie darin beschrieben zu.
				}
			</span>
		</div>
		<button type="submit" class="primary" [disabled]="!contactForm.form.valid">
			<span>Send</span>
		</button>
	</div>
</form>
<p class="toast" #toast>
	<span>
		@if (language() === "EN") {
			Thank you!
		} @else {
			Vielen Dank!
		}
	</span>
	<span>
		@if (language() === "EN") {
			Your message has been sent.
		} @else {
			Ihre Nachricht wurde übermittelt.
		}
	</span>
</p>
