@use "../../../global-styles/mixins";

:host {
	display: contents;
}

form {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 0.25rem;

	@include mixins.desktop {
		width: 30vw;
		row-gap: 1rem;
	}

	@media (width <= 1100px) and (width >= 768px) {
		width: 100%;
		row-gap: 0.25rem;
	}
}

.legal {
	text-align: end;
	color: var(--accent-color);
}

.privacy {
	color: var(--text-color-light);
}

.privacy:hover {
	text-decoration: underline;
}

.checkbox-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	min-width: min(15%, 30px);
	aspect-ratio: 1;
	margin-top: 5px;
}

input[type="checkbox"] {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	background: none;
	background-color: transparent;
	aspect-ratio: 1;
	appearance: none;
	grid-column: 1 / -1;
	grid-row: 1 / -1;

	@include mixins.desktop {
		margin-top: revert;
	}
}

textarea {
	resize: none;

	@include mixins.tablet {
		max-height: 150px;
	}
}

input:-webkit-autofill {
	font-family: Quantico, sans-serif;
	font-weight: 400;
	background-color: var(--bg-color);
	color: inherit;
	font-size: var(--fs-input);
	-webkit-text-fill-color: var(--accent-color-lighter);
}

input:not([type="checkbox"]),
textarea {
	background-color: transparent;
	width: 100%;
	color: var(--accent-color-lighter);
	font-family: inherit;
	font-weight: 400;
	font-size: var(--fs-input);
	border: 2px solid transparent;
	border-radius: var(--border-radius-button);
	box-shadow: 0 3px 0 inset var(--accent-color);
	padding: 1em;
	transition:
		border var(--transition-slow),
		box-shadow var(--transition-slow);

	&:focus {
		outline: none;
		box-shadow: none;
		border: 2px solid var(--accent-color);
	}

	&.ng-valid:is(.ng-touched) {
		box-shadow: 0 3px 0 inset green;
	}

	&.ng-invalid:is(.ng-dirty) {
		border-color: var(--error-color);
		color: var(--error-color);

		&::placeholder {
			color: var(--error-color);
		}
	}

	&::placeholder {
		color: hsl(from var(--comp-bg-color) h s l / 33%);
	}
}

.send-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.checkbox-text {
	align-self: start;
	display: flex;
	align-items: center;
	justify-content: start;
	column-gap: 1rem;
}

button {
	align-self: end;
}

@keyframes show-toast {
	0% {
		visibility: hidden;
		opacity: 0;
		translate: 0 10px;
	}

	20% {
		opacity: 1;
		visibility: visible;
		translate: 0 0;
	}

	80% {
		opacity: 1;
		visibility: visible;
		translate: 0 0;
	}

	100% {
		opacity: 0;
		visibility: hidden;
		translate: 0 10px;
	}
}

.toast {
	position: fixed;
	bottom: 30%;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-50%);
	padding: 0.5rem 1rem;
	margin: auto;
	background-color: var(--color-footer);
	border-radius: 4px;
	box-shadow:
		1px 1px 3px inset var(--accent-color-lighter),
		1px 1px 3px var(--comp-text-color);
	color: var(--accent-color-lighter);
	font-size: var(--fs-normal);
	translate: 0 5px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
	animation: show-toast 2500ms linear paused;

	& span {
		text-align: center;
	}
}

.lottie {
	z-index: -1;
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	height: 100%;
	width: 100%;
}
