@use "../../../global-styles/mixins";

:host {
	display: contents;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;

	@include mixins.desktop {
		row-gap: 0.5rem;
		width: 30vw;
	}

	@media (width <= 1100px) and (width >= 768px) {
		width: 100%;
	}
}

.legal {
	color: #b5e93b;
}

.privacy {
	color: #fffdfd;
}

.privacy:hover {
	text-decoration: underline;
}

input[type="checkbox"] {
	width: 30px;
	border: 2px solid white;
	background: none;
	background-color: transparent;
	aspect-ratio: 1;
}

input:not([type="checkbox"]),
textarea {
	background-color: transparent;
	width: 100%;
	color: #fffdfd;
	font-family: inherit;
	font-weight: 400;
	font-size: var(--fs-input);
	border: 1px solid #b5e93b;
	border-radius: var(--border-radius-button);
	padding: 1em;

	&:focus {
		outline: none;
		border: 1px solid #b5e93b;
	}

	&.ng-invalid:is(.ng-touched, .ng-dirty) {
		border-color: var(--error-color);
		color: var(--error-color);
	}

	&::placeholder {
		color: hsl(75deg 20% 35%);
	}
}

.send-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.checkbox-text {
	align-self: start;
	display: flex;
	column-gap: 1rem;
}

button {
	align-self: end;
}
