@use "../../../global-styles/mixins";

:host {
	display: contents;
}

form {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 0.25rem;

	@include mixins.desktop {
		width: 30vw;
		row-gap: 1rem;
	}

	@media (width <= 1100px) and (width >= 768px) {
		width: 100%;
		row-gap: 0.25rem;
	}
}

.legal {
	color: var(--accent-color);
}

.privacy {
	color: #fffdfd;
}

.privacy:hover {
	text-decoration: underline;
}

input[type="checkbox"] {
	flex-shrink: 0;
	position: relative;
	width: 18px;
	margin-top: 5px;
	background: none;
	background-color: transparent;
	aspect-ratio: 1;
	appearance: none;

	@include mixins.desktop {
		margin-top: revert;
	}
}

input[type="checkbox"].ng-invalid::after {
	content: "";
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0;
	background-color: var(--bg-color);
	border: 2px solid var(--text-color-light);
	color: var(--text-color-light);
}

input[type="checkbox"].ng-valid::after {
	content: "✓";
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0;
	background-color: var(--bg-color);
	border: 2px solid var(--accent-color);
	color: var(--accent-color);
}

textarea {
	resize: none;
}

input:-webkit-autofill {
	font-family: Quantico, sans-serif;
	font-weight: 400;
	background-color: var(--bg-color);
	color: var(--text-color-light);
	font-size: var(--fs-input);
	-webkit-text-fill-color: var(--text-color-light);
	transition: background-color 5000s ease-in-out 0s;
}

input:not([type="checkbox"]),
textarea {
	background-color: transparent;
	width: 100%;
	color: #fffdfd;
	font-family: inherit;
	font-weight: 400;
	font-size: var(--fs-input);
	border: 1px solid var(--accent-color);
	border-radius: var(--border-radius-button);
	padding: 1em;

	&:focus {
		outline: none;
		border: 1px solid var(--accent-color);
	}

	&.ng-invalid:is(.ng-dirty) {
		border-color: var(--error-color);
		color: var(--error-color);

		&::placeholder {
			color: var(--error-color);
		}
	}

	&::placeholder {
		color: hsl(75deg 20% 35%);
	}
}

.send-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}

.checkbox-text {
	align-self: start;
	display: flex;
	align-items: start;
	justify-content: start;
	column-gap: 1rem;
}

button {
	align-self: end;
}

@keyframes show-toast {
	0% {
		visibility: hidden;
		opacity: 0;
		translate: 0 10px;
	}

	20% {
		opacity: 1;
		visibility: visible;
		translate: 0 0;
	}

	80% {
		opacity: 1;
		visibility: visible;
		translate: 0 0;
	}

	100% {
		opacity: 0;
		visibility: hidden;
		translate: 0 10px;
	}
}

.toast {
	position: fixed;
	bottom: 30%;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-50%);
	padding: 0.5rem 1rem;
	margin: auto;
	background-color: var(--accent-color);
	color: var(--text-color-dark);
	font-size: var(--fs-small);
	translate: 0 5px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	z-index: 100;
	animation: show-toast 2500ms linear paused;

	& span {
		text-align: center;
	}
}
