@use "../../../../global-styles/mixins";

:host {
	display: contents;

	@include mixins.desktop {
		display: revert;
		position: fixed;
		top: 0;
		right: calc(1rem + var(--aside-width));
	}
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
	background-color: var(--bg-color);

	@include mixins.desktop {
		padding-block: revert;
		padding-right: revert;
		scroll-snap-align: revert;
		margin: 0 auto;
		height: 8vh;
		background-color: transparent;
	}
}

.img-container {
	align-content: center;
	height: 30px;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.languages {
	display: none;

	@include mixins.desktop {
		display: initial;
	}
}
