@use "../../../../global-styles/mixins";

:host {
	display: contents;

	@include mixins.desktop {
		display: revert;
		position: fixed;
		top: 1rem;
		right: calc(1rem + var(--aside-width));
	}

	@media (width <= 1100px) and (width >= 768px) {
		top: 0;
	}
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
	padding-block: 0.5rem;

	@include mixins.desktop {
		padding-block: 0.5rem;
		padding-inline: 0;
		scroll-snap-align: revert;
		margin: 0 auto;
		height: 45px;
		border-radius: 10px;
	}
}

.img-container {
	align-content: center;
	height: 30px;
	transition: scale var(--transition-slow);

	&:has(:hover) {
		scale: 1.1;
	}
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

// .languages {
// 	display: none;

// 	@include mixins.desktop {
// 		display: initial;
// 	}
// }

.socials {
	display: flex;
	align-items: center;
	column-gap: 1rem;
}
