@use "../../../../global-styles/mixins";

:host {
	display: contents;

	@include mixins.desktop {
		display: revert;
		position: fixed;
		top: 1rem;
		right: calc(2vw + var(--aside-width));
	}
}

section {
	padding: revert;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;
	background-color: var(--bg-color);

	@include mixins.desktop {
		scroll-snap-align: revert;
		margin: 0 auto;
		height: auto;
		background-color: transparent;
	}
}

.img-container {
	align-content: center;
	height: 30px;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.languages {
	display: none;

	@include mixins.desktop {
		display: initial;
	}
}
