@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

h2 {
	padding-inline: var(--padding-inline-section);
	width: 100%;
	text-align: center;

	@include mixins.desktop {
		width: revert;
		padding-inline: revert;
	}
}

swiper-container {
	--shadow-offset: 1px;
	--shadow-offset-reverse: -1px;
	--shadow-blur: 10px;
	--shadow-base: var(--comp-bg-color);

	display: grid;
	grid-template-rows: 100%;
	width: 100%;
	position: relative;
	border: 1px solid var(--comp-bg-color);
	background-color: var(--bg-color-card);
	box-shadow:
		var(--shadow-offset) var(--shadow-offset) var(--shadow-blur)
			hsl(from var(--comp-bg-color) h s 5%),
		var(--shadow-offset-reverse) var(--shadow-offset-reverse) var(--shadow-blur)
			hsl(from var(--comp-bg-color) h s 35%);
	border-radius: 10px;
	overflow: hidden;

	@include mixins.tablet {
		height: 85%;
	}
}

swiper-slide {
	height: 100%;
}

.arrow-desktop {
	display: none;

	@include mixins.desktop {
		display: revert;
	}
}
