<section id="projects" appAnimationOnScroll>
	<h2 class="section-headline">Projects</h2>
	<swiper-container slides-per-view="1" space-between="2" pagination="true" init="false">
		<swiper-slide><app-project-slide [project]="projects[0]" /></swiper-slide>
		<swiper-slide><app-project-slide [project]="projects[1]" /></swiper-slide>
		<swiper-slide><app-project-slide [project]="projects[2]" /></swiper-slide>
	</swiper-container>
	<app-link-arrow alignSelf="end" [version]="1" fragment="contact" class="arrow-desktop" />
</section>
