@use "../../../../global-styles/mixins";

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

swiper-container {
	border: 1px solid var(--comp-text-color);
	border-radius: 10px;
	overflow: hidden;
}

swiper-slide {
	height: 100%;
}
