:host {
	display: contents;
}

svg rect:last-of-type {
	fill: var(--comp-bg-color);
}

:host-context(.image-list:hover) .non-hovered {
	display: none;
}

.hovered {
	display: none;
}

:host-context(.image-list:hover) .hovered {
	display: revert;
}
