@use "../../../global-styles/mixins";

:host {
	display: contents;
}

.form-group {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

.mobile-images {
	position: absolute;
	right: 1lh;
	top: 0.6lh;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1lh;
	grid-template-rows: 1lh;

	@include mixins.desktop {
		display: none;
	}
}

.form-group:has(.ng-valid.ng-touched).bottom .mobile-images {
	top: revert;
	bottom: 0.6lh;
}

.mobile-images img {
	display: none;
	height: 100%;
	width: 100%;
}

.error-message {
	position: absolute;
	bottom: calc(100% + 0.25rem);
	left: 0;
	right: 0;
	margin: 0 auto;
	user-select: none;
	text-align: center;
	width: 80%;
	opacity: 0;
	color: var(--error-color);
	font-size: var(--fs-small);
	padding: 0.5rem;
	transition:
		opacity 225ms,
		transform 225ms;
	background-color: var(--bg-color);
	border-radius: 5px;
	z-index: 2;
	visibility: hidden;
	box-shadow: 0 0 10px 3px var(--error-color);
}

.error-message:empty,
.error-message:has(span:empty) {
	display: none;
}

.form-group:has(.ng-valid.ng-touched) .mobile-images .valid {
	display: revert;
}

.form-group:has(.ng-invalid.ng-dirty) .mobile-images .error {
	display: revert;
}

.form-group:has(.ng-invalid.ng-dirty:focus-visible) .error-message {
	user-select: revert;
	visibility: visible;
	opacity: 1;
}
