@use "../../../global-styles/mixins";

:host {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 0.5rem;
	background-color: var(--accent-color);
	border-bottom-right-radius: var(--header-border-radius);
	mask-image: url("/masks/stroke_3.svg"), url("/masks/stroke_1.svg");
	mask-repeat: no-repeat;
	mask-size: 200% 300%;
	mask-position: center;

	@include mixins.desktop {
		position: revert;
		top: revert;
		right: revert;
		z-index: revert;
		padding: revert;
		background-color: revert;
		border-bottom-right-radius: revert;
		mask-image: revert;
		mask-repeat: revert;
		mask-size: revert;
		mask-position: revert;
	}
}

.languages {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
}

.divider {
	width: 1px;
	height: 1lh;
	border: 1px solid var(--text-color-darker);
}

button {
	font-family: inherit;
	font-size: var(--fs-menu-a);
	color: var(--text-color-darker);
	transition: scale var(--transition-slow);

	@include mixins.desktop {
		color: var(--text-color-light);
	}
}

button:hover,
button.active {
	scale: 1.1;
	color: var(--comp-bg-color);
	// text-decoration: underline 1px var(--accent-color);
	text-underline-offset: 4px;

	@include mixins.multi-shadow(var(--text-color-darker));

	@include mixins.desktop {
		text-decoration: underline 2px var(--accent-color);
		text-shadow: none;
	}
}
