@use "../../../global-styles/mixins";

.languages {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
}

.divider {
	width: 1px;
	height: 1lh;
	border: 1px solid var(--text-color-darker);
}

button {
	font-family: inherit;
	font-size: var(--fs-menu-a);
	color: var(--text-color-darker);
	transition: scale var(--transition-slow);

	@include mixins.desktop {
		color: var(--text-color-light);
	}
}

button:hover,
button.active {
	scale: 1.1;
	color: var(--comp-bg-color);
	text-decoration: underline 2px var(--accent-color);
	text-underline-offset: 2px;

	@include mixins.multi-shadow(var(--text-color-darker));

	@include mixins.desktop {
		text-shadow: none;
	}
}
