<aside class="comp-shadow-x">
	<a routerLink="/" (click)="onProjectRefClicked($event, '#')"
		><img class="img-desktop" src="img/logos/logo_dark.webp" alt="Logo"
	/></a>
	<nav class="nav-desktop">
		<a
			class="text-shadow-comp-blurred"
			routerLink="/"
			fragment="why-me"
			(click)="onProjectRefClicked($event, 'why-me')"
		>
			@if (language() === "EN") {
				Why me
			} @else {
				Wieso ich
			}
		</a>
		<a
			class="text-shadow-comp-blurred"
			routerLink="/"
			fragment="skills"
			(click)="onProjectRefClicked($event, 'skills')"
		>
			@if (language() === "EN") {
				My Skill Set
			} @else {
				Meine Skills
			}
		</a>
		<a
			class="text-shadow-comp-blurred"
			routerLink="/"
			fragment="projects"
			(click)="onProjectRefClicked($event, 'projects')"
		>
			@if (language() === "EN") {
				My Work
			} @else {
				Projekte
			}
		</a>
		<a
			class="text-shadow-comp-blurred"
			routerLink="/"
			fragment="contact"
			(click)="onProjectRefClicked($event, 'contact')"
		>
			@if (language() === "EN") {
				Contact me
			} @else {
				Kontakt
			}
		</a>
	</nav>
</aside>
