@use "../../../global-styles/mixins";

:host {
	display: contents;
}

aside {
	display: none;

	@include mixins.desktop {
		padding-block: var(--padding-block-header);
		padding-inline: var(--padding-w-1);
		position: sticky;
		top: 0;
		left: 0;
		height: 100%;
		width: var(--aside-width);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--accent-color);
		box-shadow: 0 1px 10px hsl(from var(--bg-color) h s 35%);
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		z-index: var(--fixed-z-index);
	}
}

.nav-desktop a {
	font-family: inherit;
	font-size: var(--fs-menu-a);
	color: var(--text-color-gray);
	writing-mode: sideways-lr;
	display: inline-block;

	&:hover,
	&.active {
		color: var(--accent-color);

		@include mixins.multi-shadow(var(--text-color-gray));
	}
}

.img-desktop {
	@include mixins.desktop {
		height: var(--fs-h1);
		width: auto;
		aspect-ratio: revert;
		object-fit: cover;
	}
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;

	@include mixins.desktop {
		flex-direction: column;
		justify-content: space-around;
		padding-block: var(--padding-h-1);
	}
}
