@use "../../../global-styles/mixins";

:host {
	display: contents;
}

aside {
	display: none;

	@include mixins.desktop {
		padding-block: var(--padding-block-header);
		padding-inline: var(--padding-w-1);
		position: sticky;
		top: 0;
		left: 0;
		height: 100%;
		width: var(--aside-width);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--accent-color);
		border-top-right-radius: var(--header-border-radius);
		border-bottom-right-radius: var(--header-border-radius);
		z-index: var(--fixed-z-index);
	}
}

.nav-desktop a {
	font-family: inherit;
	font-size: var(--fs-menu-a);
	color: var(--text-color-darker);
	writing-mode: sideways-lr;
	display: inline-block;
	transition: scale var(--transition-slow);

	&:hover,
	&.active {
		scale: 1.05;
		color: var(--comp-text-color);

		@include mixins.multi-shadow(black);
	}
}

.img-desktop {
	@include mixins.desktop {
		height: var(--fs-h1);
		width: auto;
		aspect-ratio: revert;
		object-fit: cover;
		transition: scale var(--transition-slow);

		&:hover {
			scale: 1.05;
			filter: drop-shadow(2px 2px 1px var(--comp-text-color));
		}
	}
}

nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;

	@include mixins.desktop {
		flex-direction: column;
		justify-content: space-around;
		padding-block: var(--padding-h-1);
	}
}
