@use "../../../../global-styles/mixins";

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;

	@include mixins.desktop {
		position: relative;
		flex-direction: row;
		align-items: start;
		padding-right: var(--padding-inline-section);
		padding-left: calc(var(--section-desktop-padding-left));
		height: 100%;
		width: calc(100vw - var(--aside-footer-width));
		padding-block: 15vh;
	}
}

h2 {
	align-self: start;

	@include mixins.desktop {
		text-wrap: nowrap;
		transform-origin: right center;
		rotate: -90deg;
		translate: -25% -50%;
		max-width: 20%;
	}
}

.special {
	align-self: start;
	color: #d3ed97;
}

.contact-items {
	display: flex;
	flex-direction: column;
	align-items: start;
	align-self: start;
	row-gap: 0.5rem;

	@include mixins.desktop {
		row-gap: 2vh;
		cursor: pointer;
	}
}

.contact-item {
	display: flex;
	align-items: start;
	column-gap: 0.5rem;
}

.first {
	display: contents;

	@include mixins.desktop {
		display: flex;
	}
}

.middle {
	display: contents;

	@include mixins.desktop {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}

.last {
	display: contents;

	@include mixins.desktop {
		width: 20vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.last * {
	@include mixins.desktop {
		text-align: end;
		align-self: end;
	}
}

.last-bottom {
	display: none;

	@include mixins.desktop {
		display: flex;
		flex-direction: column;
	}
}

.last-top {
	display: contents;

	@include mixins.desktop {
		display: flex;
		flex-direction: column;
		row-gap: 3vh;
	}
}
