section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
}

h2 {
	align-self: start;
}

.special {
	align-self: start;
	color: #d3ed97;
}

.contact-items {
	display: flex;
	flex-direction: column;
	align-items: start;
	align-self: start;
	row-gap: 0.5rem;
	cursor: pointer;
}

.contact-item {
	display: flex;
	align-items: start;
	column-gap: 0.5rem;

	&:hover a {
		color: var(--accent-color);
	}

	> a:active {
		color: #b5e93b;
	}
}
