@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

section:not(.back-to-top) {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;
	padding-inline: 24px;
	padding-bottom: var(--padding-block-section-mobile);
	padding-top: calc(var(--header-height) + var(--padding-block-section-mobile));

	@include mixins.desktop {
		position: relative;
		align-items: start;
		justify-content: space-between;
		padding-left: 0;
		padding-right: 24px;
		height: 100%;
		padding-block: var(--padding-block-section-desktop);
		column-gap: 2vw;
	}
}

.back-to-top {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include mixins.desktop {
		display: none;
	}
}

.first {
	padding-top: var(--header-height);
}

section:not(.last, .back-to-top) {
	@include mixins.desktop {
		flex-basis: calc(100vw - var(--aside-width));
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
}

.start {
	height: 100%;

	@include mixins.desktop {
		display: flex;
		column-gap: 2vw;
	}
}

.content {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	@include mixins.desktop {
		height: 100%;
		max-width: 70vw;
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		padding-inline: var(--padding-w-1);
		overflow-y: auto;
	}
}

.last {
	@include mixins.desktop {
		flex-basis: calc(100vw - 2 * var(--aside-width));
		flex-direction: row !important;
	}

	@media (width <= 1100px) and (width >= 768px) {
		flex-direction: column;
		row-gap: 1rem;
	}
}

h2 {
	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

.paragraph {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

p {
	font-size: var(--fs-small);
}

section.eighth {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;

	@include mixins.desktop {
		position: relative;
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
		flex-basis: calc(100vw - var(--padding-inline-section-desktop));
		padding-right: calc(2rem + var(--aside-width));
		padding-left: 0;
		padding-bottom: 24px;
		margin-left: var(--padding-inline-section-desktop);
		column-gap: 2vw;
	}
}

aside {
	display: none;

	@include mixins.desktop {
		position: absolute;
		right: 0;
		top: 0;
		display: revert;
		height: 100vh;
		width: var(--aside-width);
		background: var(--menu-color);
	}
}
