@use "../../../../global-styles/mixins";

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;

	@include mixins.desktop {
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
		padding-right: var(--padding-inline-section);
		padding-left: var(--section-desktop-padding-left);
		height: 100%;
		width: 100vw;
		padding-block: 15vh;
	}
}

h2 {
	@include mixins.desktop {
		writing-mode: sideways-lr;
		align-self: end;
	}
}

.img-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 45px);
	grid-template-rows: 45px;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.img-container {
	height: 100%;
	width: 100%;
}

img {
	aspect-ratio: 1;
	width: 100%;
	object-fit: cover;
}

.middle {
	display: contents;

	@include mixins.desktop {
		display: flex;
		flex-direction: column;
		width: 100%;
		row-gap: 5vh;
	}
}

button.primary {
	@include mixins.desktop {
		display: none;
	}
}

.first {
	display: contents;

	@include mixins.desktop {
		display: flex;
		column-gap: 2vw;
		align-items: end;
		width: 50%;
	}
}
