<section>
	<div class="first">
		<h2>
			@if (language() === "EN") {
				My Skill Set
			} @else {
				Meine Skills
			}
		</h2>
		<div class="middle">
			<p>
				@if (language() === "EN") {
					I have strong CSS and Angular skills and excel at implementing complex logic in JavaScript
					and JS classes. I have contributed to various projects using different front-end
					technologies.
				} @else {
					Ich verfüge über sehr gute CSS- und Angular-Kenntnisse und kann komplexe Logik in
					JavaScript und Klassen effizient umsetzen. In meiner bisherigen Arbeit habe ich an
					verschiedenen Projekten mit unterschiedlichen Frontend-Technologien mitgewirkt.
				}
			</p>
			<div class="img-grid">
				@for (img of images; track $index) {
					<div class="img-container"><img [src]="img.src" [alt]="img.alt" /></div>
				}
			</div>
			<p>
				@if (language() === "EN") {
					I am open to learning new technologies and quickly adapt to changing requirements. My
					focus is on writing clean, maintainable code and creating optimal user interfaces.
				} @else {
					Ich bin offen für neue Technologien und lerne schnell, um mich flexibel an neue
					Anforderungen anzupassen. Mein Fokus liegt darauf, sauberen, wartbaren Code zu schreiben
					und optimale Benutzeroberflächen zu entwickeln..
				}
			</p>
			<button class="primary">
				<a routerLink="/" fragment="contact">
					<span>
						@if (language() === "EN") {
							Let's Talk
						} @else {
							Zum Gespräch
						}
					</span>
				</a>
			</button>
		</div>
	</div>
	<app-link-arrow fragment="projects" alignSelf="center" show="desktop" />
</section>
