@use "../global-styles/mixins";

:host {
	display: contents;
}

aside {
	display: none;

	@include mixins.desktop {
		display: revert;
		height: 100%;
		flex: 0 0 var(--aside-width);
		background: var(--menu-color);
		margin-left: 1rem;
	}
}

main {
	@include mixins.desktop {
		position: relative;
	}
}
