:host {
	display: contents;
}

header {
	position: fixed;
	width: 100%;
	height: var(--header-height);
	background: var(--header-color);
	padding-block: 1rem;
	z-index: 1;
}

header:has(.active) {
	background: var(--accent-color);
}

footer {
	height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-block: 2rem;
	background: linear-gradient(to bottom, var(--accent-color), #547800);
}

footer img {
	height: 20px;
}
