@use "../../../../global-styles/mixins";

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 2rem;
	width: 100%;

	@include mixins.desktop {
		flex-direction: row;
		align-items: start;
		column-gap: 2vw;
		padding-right: var(--padding-inline-section);
		padding-left: var(--section-desktop-padding-left);
		height: 100%;
		width: auto;
		padding-block: 15vh;
	}
}

.projects {
	display: contents;

	@include mixins.desktop {
		display: flex;
		column-gap: 3vw;
	}
}

h2 {
	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

.arrow {
	display: none;

	@include mixins.desktop {
		display: revert;
		align-self: end;
	}
}
