<section>
	<div class="first">
		<h2>References</h2>
		<div class="colleague-slider" #slider>
			@for (colleague of colleagues; track $index) {
				<div class="colleague-item">
					<div class="colleague-card" #card>
						<p class="text">"{{ colleague.text[language()] }}"</p>
						<div class="spacer"></div>
						<div class="info">
							<span class="name">{{ colleague.name }}</span>
							<span class="project">{{ colleague.project }}</span>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="slider-state">
			@for (colleague of colleagues; track $index) {
				<div class="state" [class.active]="activeSlideIdx === $index"></div>
			}
		</div>
	</div>
	<app-link-arrow fragment="contact" alignSelf="center" show="desktop" />
</section>
