:host {
	display: contents;
}

svg {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

// svg path:first-of-type {
// 	fill: var(--comp-bg-color);
// }

// :host-context(.image-list:hover) svg path:last-of-type {
// 	stroke-width: 2px;
// }
