.slide {
	height: 70svh;
	width: 100%;
	padding: 1rem;
	padding-bottom: 2.5rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 25% 1fr auto;
	row-gap: 0.5lh;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 8px 1px inset var(--bg-color);
	background-color: var(--bg-color-card);
}

.headline {
	text-align: center;
	width: 100%;
	color: var(--color-white);
}

.img-container {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	mask-image:
		linear-gradient(to right, black, white 3%, white 97%, black),
		linear-gradient(to bottom, black, white 3%, white 97%, black);
	mask-composite: intersect;
	mask-mode: luminance;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.text {
	display: flex;
	flex-direction: column;
	row-gap: 1lh;
	color: var(--color-white);
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
