@use "../../../../../global-styles/mixins";

:host {
	display: contents;
}

.slide {
	height: 100%;
	width: 100%;
	padding: clamp(1rem, 0.8rem + 1vw, 2rem);
	padding-bottom: 2.5rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 25% 1fr auto;
	row-gap: clamp(0.5lh, 1.1vw, 2lh);
	align-items: center;
	justify-content: center;
	background-color: var(--bg-color-card);

	@include mixins.desktop {
		height: 100%;
		flex: 1;
	}
}

.headline {
	text-align: start;
	width: 100%;
	color: var(--color-white);
}

.img-container {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	mask-image:
		linear-gradient(to right, black, white 3%, white 97%, black),
		linear-gradient(to bottom, black, white 3%, white 97%, black);
	mask-composite: intersect;
	mask-mode: luminance;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.text {
	display: flex;
	flex-direction: column;
	row-gap: 1lh;
	color: var(--color-white);

	@include mixins.desktop {
		align-self: start;
	}
}

.text-tablet {
	display: none;

	@media (height >= 1000px) {
		display: revert;
	}
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
