<section class="first">
	<div class="left">
		<h2 class="section-headline">
			@if (language() === "EN") {
				Legal Notice
			} @else {
				Impressum
			}
		</h2>
		<div class="content">
			<p>
				<strong class="comp-text">
					@if (language() === "EN") {
						Information according to § 5 TMG
					} @else {
						Angaben gemäß § 5 TMG
					}
					:</strong
				>
			</p>
			<p>
				@if (language() === "EN") {
					Name: Calvin Hanisch<br />
					Address: Ferdinand-Jost-Straße 14, 04299 Leipzig, Germany<br />
					Email: <a href="mailto:calvin.hanisch@gmail.com">calvin.hanisch&#64;gmail.com</a>
				} @else {
					Name: Calvin Hanisch<br />
					Anschrift: Ferdinand-Jost-Straße 14, 04299 Leipzig, Deutschland<br />
					E-Mail: <a href="mailto:calvin.hanisch@gmail.com">calvin.hanisch&#64;gmail.com</a>
				}
			</p>

			<p>
				<strong class="comp-text">
					@if (language() === "EN") {
						Responsible for content according to § 55 Abs. 2 RStV
					} @else {
						Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV
					}
					:</strong
				>
			</p>
			<p>
				@if (language() === "EN") {
					Calvin Hanisch<br />
					Address as above
				} @else {
					Calvin Hanisch<br />
					Anschrift wie oben
				}
			</p>

			<p>
				<strong class="comp-text">
					@if (language() === "EN") {
						Disclaimer
					} @else {
						Haftungsausschluss
					}
				</strong>
			</p>
			<p>
				@if (language() === "EN") {
					Despite careful content control, we assume no liability for the content of external links.
					The content of the linked pages is the sole responsibility of their operators.
				} @else {
					Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte
					externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber
					verantwortlich.
				}
			</p>

			<p>
				<strong class="comp-text">
					@if (language() === "EN") {
						Copyright
					} @else {
						Urheberrecht
					}
				</strong>
			</p>
			<p>
				@if (language() === "EN") {
					The content and works created by the site operators on this website are subject to German
					copyright law. Third-party contributions are marked as such. Duplication, processing,
					distribution, and any kind of utilization beyond the limits of copyright require the
					written consent of the respective author or creator.
				} @else {
					Die durch die Seitenbetreiber erstellten Inhalte und Werke auf dieser Webseite unterliegen
					dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die
					Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
					Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw.
					Erstellers.
				}
			</p>
		</div>
	</div>
	<app-link-arrow fragment="legal-2" [alignSelf]="'center'" show="desktop" />
</section>
<section id="legal-2" class="last">
	<app-end [showText]="false" href="legal#" />
	<aside></aside>
</section>

<section class="back-to-top">
	<app-link-arrow fragment="root" show="mobile" [version]="3" />
</section>
