@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

section {
	@include mixins.desktop {
		height: 100%;
	}
}

.first {
	padding-top: var(--header-height);

	@include mixins.desktop {
		padding-left: revert;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-basis: calc(100vw - var(--aside-width));
	}
}

h2 {
	@include mixins.desktop {
		writing-mode: sideways-lr;
	}
}

.left {
	display: contents;

	@include mixins.desktop {
		display: flex;
		justify-content: start;
		align-items: start;
	}
}

.content {
	@include mixins.desktop {
		display: flex;
		flex-direction: column;
		row-gap: 0.5rem;
		padding-inline: 2rem;
		height: 100%;
		width: 60%;
		overflow-y: auto;
	}
}

.last {
	@include mixins.desktop {
		display: flex;
		justify-content: end;
		height: 100%;
		flex-basis: calc(100vw - 2 * var(--aside-width));
		padding-right: 2rem;
	}
}

.back-to-top {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	@include mixins.desktop {
		display: none;
	}
}

section.last {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2rem;

	@include mixins.desktop {
		position: relative;
		flex-direction: row;
		align-items: start;
		justify-content: end;
		flex-basis: calc(100vw - var(--padding-inline-section-desktop));
		padding-right: calc(2rem + var(--aside-width));
		padding-left: 0;
		padding-bottom: 24px;
		margin-left: var(--padding-inline-section-desktop);
		column-gap: 2vw;
	}
}

aside {
	display: none;

	@include mixins.desktop {
		position: absolute;
		right: 0;
		top: 0;
		display: revert;
		height: 100vh;
		width: var(--aside-width);
		background: var(--menu-color);
	}
}
