@use "../../../../global-styles/mixins";

:host {
	display: contents;
}

.back-to-top {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-block: 1rem;

	@include mixins.desktop {
		display: none;
	}
}

.img-container {
	height: 52px;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: start;
}
