<div class="last">
	<div class="last-top">
		<span class="comp-text" [class.inactive]="!showText()">
			@if (language() === "EN") {
				Let us work together.
			} @else {
				Lassen Sie uns gemeinsam etwas erschaffen.
			}
		</span>
		<p class="text" [class.inactive]="!showText()">
			@if (language() === "EN") {
				I welcome any contact and am particularly interested in roles within a front-end development
				team. With strong communication skills and experience working in larger teams with Git, I am
				confident that I can make a meaningful contribution through my expertise and enthusiasm for
				continuous learning.
			} @else {
				Ich freue mich über jede Kontaktaufnahme und bin besonders an Rollen im
				Frontend-Entwicklungsteam interessiert. Mit sehr guten Kommunikationsfähigkeiten und
				Erfahrung in größeren Teams mit Git bin ich überzeugt, dass ich durch meine Expertise und
				Begeisterung für ständiges Lernen einen wertvollen Beitrag leisten kann.
			}
		</p>
		<div class="contact-items">
			<div class="contact-item hoverable">
				<app-email-big />

				<span
					>E-Mail: <a href="mailto:calvin.hanisch@gmail.com">calvin.hanisch&#64;gmail.com</a></span
				>
			</div>
			<div class="contact-item hoverable">
				<app-phone />
				<span>Tel: <a href="tel:+4917672435482">(+49) 176 724 35 482</a></span>
			</div>
		</div>
	</div>
	<app-link-arrow orientation="left" fragment="#" [version]="1" />
	<div class="last-bottom">
		<div class="hoverable">
			<span class="text-underline"
				><a routerLink="/legal">
					@if (language() === "EN") {
						Legal Notice
					} @else {
						Impressum
					}
				</a></span
			>
		</div>
		<div class="hoverable">
			<span class="text-underline"
				><a routerLink="/privacy" (click)="onClick($event)">
					@if (language() === "EN") {
						Privacy Policy
					} @else {
						Datenschutz
					}
				</a></span
			>
		</div>
		<div class="flex">
			<app-copyright />
			<span>Calvin Hanisch 2025</span>
		</div>
	</div>
</div>
