@use "global-styles/fonts";
@use "global-styles/reset";
@use "global-styles/mixins";
@use "global-styles/variables";
@use "global-styles/utility";
@use "global-styles/shadows";
@use "global-styles/lotties";

html {
	scroll-padding-top: 10px;

	@include mixins.desktop {
		// scroll-padding-left: calc(var(--aside-width) - 1rem);
		scroll-padding-top: revert;
		scroll-snap-type: x mandatory;
		overflow-y: clip;
	}
}

body {
	font-family: "Sofia Sans Condensed", sans-serif;
	font-weight: 400;
	height: 100svh;
	background-color: var(--bg-color);
	color: var(--text-color-light);
	font-size: var(--fs-medium);

	@include mixins.desktop {
		height: 100vh;
	}
}

main::-webkit-scrollbar {
	height: var(--scrollbar-height-desktop);
}

main::-webkit-scrollbar-track {
	background: black;
	border-radius: 0;
}

main::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 0;
}

main::-webkit-scrollbar-thumb:hover {
	background: #555;
}

main {
	transition: filter var(--transition-eternity);

	@include mixins.desktop {
		height: 100%;
		scroll-snap-type: x proximity;
		scroll-padding-left: var(--aside-width);
		position: relative;
		scroll-behavior: smooth;
		width: 100vw;
		display: flex;
		justify-content: start;
		align-items: start;
		overflow: auto;
		scrollbar-width: thin;
		scrollbar-color: #888 black;
		overflow-y: clip;
	}
}

section {
	padding-inline: var(--padding-inline-section);
	padding-block: var(--padding-block-section-mobile);
	width: 100%;

	@include mixins.desktop {
		width: revert;
		height: 100%;
		scroll-snap-align: start;
		flex: 0 0 100vw;
		padding-block: var(--padding-block-section-desktop);
		padding-inline: var(--padding-inline-section-desktop);
	}
}

header,
footer {
	padding-inline: var(--padding-inline-section);
}

h1 {
	text-transform: uppercase;
	font-size: var(--fs-h1);
	color: var(--accent-color);
}

h2 {
	--shadow-color: var(--accent-color);

	align-self: start;
	font-size: var(--fs-h2);
	color: var(--bg-color);

	@include mixins.multi-shadow(var(--shadow-color));
}

h3 {
	--shadow-color: var(--accent-color);

	color: var(--bg-color);
	font-size: var(--fs-h3);

	@include mixins.multi-shadow(var(--shadow-color));
}

h4 {
	font-size: var(--fs-h4);
	font-weight: 400;
}

h5 {
	font-size: var(--fs-h5);
	font-weight: 400;
	color: var(--accent-color);
}

h6 {
	font-size: var(--fs-h6);
}
