@use "global-styles/fonts";
@use "global-styles/reset";
@use "global-styles/variables";
@use "global-styles/mixins";

html {
	scroll-padding-top: var(--header-height);

	@include mixins.desktop {
		scroll-padding-left: var(--aside-width);
		scroll-padding-top: revert;
		scroll-snap-type: x mandatory;
		overflow-y: clip;
	}
}

body {
	font-family: Quantico, sans-serif;
	font-weight: 400;
	height: 100svh;
	background-color: var(--bg-color);
	color: var(--text-color-white);
	font-size: var(--fs-medium);

	@include mixins.desktop {
		height: 100vh;
	}
}

main::-webkit-scrollbar {
	height: var(--scrollbar-height-desktop);
}

main::-webkit-scrollbar-track {
	background: black;
	border-radius: 0;
}

main::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 0;
}

main::-webkit-scrollbar-thumb:hover {
	background: #555;
}

main {
	@include mixins.desktop {
		height: 100%;
		scroll-snap-type: x proximity;
		scroll-padding-left: var(--aside-width);
		position: relative;
		scroll-behavior: smooth;
		width: 100vw;
		display: flex;
		justify-content: start;
		align-items: start;
		overflow: auto;
		scrollbar-width: thin;
		scrollbar-color: #888 black;
	}
}

section {
	padding-inline: var(--padding-inline-section);
	padding-block: var(--padding-block-section-mobile);
	width: 100%;

	@include mixins.desktop {
		width: revert;
		height: 100%;
		scroll-snap-align: start;
		flex: 0 0 100vw;
		padding-block: var(--padding-block-section-desktop);
		padding-right: var(--padding-inline-section);
		padding-left: var(--section-desktop-padding-left);
	}
}

header,
footer {
	padding-inline: var(--padding-inline-section);
}

h1 {
	text-transform: uppercase;
	font-size: var(--fs-h1);
	color: var(--accent-color);
}

h2 {
	--shadow-color: #b5e93b;

	align-self: start;
	font-size: var(--fs-h2);
	color: var(--bg-color);

	@include mixins.multi-shadow(var(--shadow-color));
}

h3 {
	--shadow-color: #b5e93b;

	color: var(--bg-color);
	font-size: var(--fs-h3);

	@include mixins.multi-shadow(var(--shadow-color));
}

h4 {
	font-size: var(--fs-h4);
	font-weight: 400;
}

h5 {
	font-size: var(--fs-h5);
	font-weight: 400;
	color: var(--accent-color);
}

h6 {
	font-size: var(--fs-h6);
}

button:is(.primary, .secondary) {
	padding: var(--padding-block-button) var(--padding-inline-button);
	border-radius: var(--border-radius-button);
}

button.primary {
	background-color: #b5e93b;
	font-family: inherit;

	& :is(span, a) {
		color: #252525;
		font-size: var(--fs-button);
		font-weight: 400;
	}

	&:disabled {
		cursor: auto;
		background-color: #9e9d9d;

		& :is(span, a) {
			color: #4a4a4a;
		}
	}

	&:hover:not(:disabled) {
		background: var(--menu-color);
	}
}

button.secondary {
	background-color: transparent;
	border: 1px solid #b5e93b;
	font-family: inherit;

	& :is(span, a) {
		color: #b5e93b;
		font-size: var(--fs-button);
		font-weight: 400;
	}

	&:disabled {
		cursor: auto;
		border-color: #827b7b;
		background-color: transparent;

		& :is(span, a) {
			color: #827b7b;
		}
	}

	&:hover:not(:disabled) {
		border-color: var(--accent-color-2);
		background-color: #b5e93b33;

		& :is(span, a) {
			color: #fffdfd;
		}
	}
}

.socials .img-container {
	cursor: pointer;
}

.hoverable {
	&:hover svg path {
		fill: var(--accent-color-2);
	}

	&:active svg path {
		fill: var(--accent-color);
	}

	&:hover :is(a, span) {
		color: var(--accent-color-2);
	}

	&:active :is(a, span) {
		color: var(--accent-color);
	}
}

.hoverable span {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		height: 1px;
		background: var(--accent-color);
		bottom: 0;
	}
}

.hoverable:active span::after {
	display: initial;
}

.socials .img-container:hover svg path {
	fill: var(--accent-color);
}
