/* You can add global styles to this file, and also import other style files */
@use "global-styles/fonts";
@use "global-styles/reset";
@use "global-styles/variables";
@use "global-styles/mixins";

html {
	scroll-padding-top: var(--header-height);

	@include mixins.desktop {
		scroll-padding-top: revert;
		scroll-snap-type: x mandatory;
	}
}

body {
	font-family: Quantico, sans-serif;
	font-weight: 400;
	min-height: 100svh;
	background-color: var(--bg-color);
	color: var(--text-color-white);
	font-size: var(--fs-medium);

	@include mixins.desktop {
		min-height: 0;
		height: var(--desktop-height);
	}
}

main {
	height: 100%;
}

section {
	height: 100%;
	padding-inline: var(--padding-inline-section);
	padding-block: var(--padding-block-section);

	@include mixins.desktop {
		scroll-snap-align: start;
	}
}

header,
footer {
	padding-inline: var(--padding-inline-section);
}

h1 {
	text-transform: uppercase;
	font-size: var(--fs-h1);
	color: var(--accent-color);
}

h2 {
	--shadow-color: #b5e93b;

	align-self: start;
	font-size: var(--fs-h2);
	color: var(--bg-color);

	@include mixins.multi-shadow(var(--shadow-color));
}

h3 {
	--shadow-color: #b5e93b;

	color: var(--bg-color);
	font-size: var(--fs-h3);

	@include mixins.multi-shadow(var(--shadow-color));
}

h4 {
	font-size: var(--fs-h4);
	font-weight: 400;
}

h5 {
	font-size: var(--fs-h5);
	font-weight: 400;
	color: var(--accent-color);
}

h6 {
	font-size: var(--fs-h6);
}

button:is(.primary, .secondary) {
	padding: 13px 30px;
	border-radius: 30px;
}

button.primary {
	background-color: #b5e93b;
	font-family: inherit;

	& :is(span, a) {
		color: #252525;
		font-size: var(--fs-button);
		font-weight: 400;
	}
}

button.secondary {
	background-color: transparent;
	border: 1px solid #b5e93b;
	border-radius: 30px;
	font-family: inherit;

	& :is(span, a) {
		color: #b5e93b;
		font-size: var(--fs-button);
		font-weight: 400;
	}
}

button.primary:hover:not(:disabled) {
	background: var(--menu-color);
}

button.secondary:hover:not(:disabled) {
	border-color: var(--accent-color-2);
	background-color: #b5e93b33;

	& :is(span, a) {
		color: #fffdfd;
	}
}

button.primary:disabled {
	cursor: auto;
	background-color: #9e9d9d;

	& :is(span, a) {
		color: #4a4a4a;
	}
}

button.secondary:disabled {
	cursor: auto;
	border-color: #827b7b;
	background-color: transparent;

	& :is(span, a) {
		color: #827b7b;
	}
}

.socials .img-container {
	cursor: pointer;
}

.hoverable {
	&:hover svg path {
		fill: var(--accent-color-2);
	}

	&:active svg path {
		fill: var(--accent-color);
	}

	&:hover :is(a, span) {
		color: var(--accent-color-2);
	}

	&:active :is(a, span) {
		color: var(--accent-color);
	}
}

.hoverable span {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		height: 1px;
		background: var(--accent-color);
		bottom: 0;
	}
}

.hoverable:active span::after {
	display: initial;
}

.socials .img-container:hover svg path {
	fill: var(--accent-color);
}
