@use "../../../global-styles/mixins";

:host {
	position: fixed;
	bottom: -2rem;
	right: 50%;
	z-index: 100;
	translate: 50% 0%;

	@include mixins.desktop {
		bottom: 0;
	}
}

button {
	font-family: inherit;
}

.menu {
	--transition-delay-base: var(--transition-normal);
	--transition-base: var(--transition-eternity);
	--count-item: 6;

	height: 100px;
	aspect-ratio: 1;
	border-radius: 50%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;

	@include mixins.desktop {
		height: 100px;
	}
}

.background {
	--animation-duration: calc(
		var(--transition-delay-base) * (var(--count-item) - 1) + var(--transition-base)
	);

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50% 50%;
	place-items: center;
	align-self: center;
	padding: 1.5rem;
	height: 100%;
	width: 100%;
	background-color: var(--comp-bg-color);
	border-radius: inherit;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	z-index: 2;
	transition:
		background-color var(--transition-base),
		scale var(--animation-duration);
	mask-image: url("/masks/stroke_3.svg"), url("/masks/stroke_1.svg");
	clip-path: inset(-10% -10% 50% -10%);

	span {
		font-size: var(--fs-large);
		color: var(--text-color-light);
		grid-row: 1 /2;
		grid-column: 1 /2;
		transition: color var(--transition-base);
	}
}

.menu.open .background {
	background-color: var(--comp-text-color);
	scale: 0.75;

	span {
		color: var(--text-color-dark);
	}
}

ul {
	position: relative;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

li {
	padding: 15%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid transparent;
	height: 0;
	width: 0;
	top: 50%;
	left: 50%;
	translate: -50% -100%;
	list-style: none;
	background-color: var(--bg-color);
	transition:
		border var(--transition-base),
		height var(--transition-base) ease-in-out,
		width var(--transition-base) ease-in-out,
		translate var(--transition-base) ease-in-out;

	@include mixins.desktop {
		padding: 20%;
	}
}

li > :not(a) {
	z-index: 2;
	transition: scale var(--transition-base);
}

li:nth-of-type(1) {
	transition-delay: calc(var(--transition-delay-base) * 5);
}

li:nth-of-type(2) {
	transition-delay: calc(var(--transition-delay-base) * 4);
}

li:nth-of-type(3) {
	transition-delay: calc(var(--transition-delay-base) * 3);
}

li:nth-of-type(4) {
	transition-delay: calc(var(--transition-delay-base) * 2);
}

li:nth-of-type(5) {
	transition-delay: calc(var(--transition-delay-base) * 1);
}

li:nth-of-type(6) {
	transition-delay: calc(var(--transition-delay-base) * 0);
}

.menu.open li {
	--start-angle: 187deg;
	--full-angle: 200deg;
	--radius: 33vw;
	--angle: 0deg;
	--x: calc(cos(var(--angle) + var(--start-angle)) * var(--radius));
	--y: calc(sin(var(--angle) + var(--start-angle)) * var(--radius));
	--shadow-offset: 2px;
	--shadow-blur: 3px;
	--gradient-color: hsl(from var(--bg-color) h s 20%);

	background: linear-gradient(45deg, var(--bg-color), var(--gradient-color));
	width: 55px;
	height: 55px;
	border: 1px solid var(--accent-color-lighter);
	box-shadow:
		var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--gradient-color),
		calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) var(--shadow-blur)
			var(--bg-color);
	translate: calc(-50% + var(--x)) calc(-50% + var(--y));
	transition:
		box-shadow var(--transition-eternity),
		height var(--transition-base) ease-in-out,
		width var(--transition-base) ease-in-out,
		translate var(--transition-base) ease-in-out;

	@include mixins.desktop {
		--start-angle: 187deg;
		--full-angle: 200deg;
		--radius: 150px;

		width: 70px;
		height: 70px;
	}
}

.menu.open li:nth-of-type(1) {
	--angle: calc((var(--full-angle) / var(--count-item)) * 0);

	transition-delay: calc(var(--transition-delay-base) * 0);
}

.menu.open li:nth-of-type(2) {
	--angle: calc((var(--full-angle) / var(--count-item)) * 1);

	transition-delay: calc(var(--transition-delay-base) * 1);
}

.menu.open li:nth-of-type(3) {
	--angle: calc((var(--full-angle) / var(--count-item)) * 2);

	transition-delay: calc(var(--transition-delay-base) * 2);
}

.menu.open li:nth-of-type(4) {
	--angle: calc((var(--full-angle) / var(--count-item)) * 3);

	transition-delay: calc(var(--transition-delay-base) * 3);
}

.menu.open li:nth-of-type(5) {
	--angle: calc((var(--full-angle) / var(--count-item)) * 4);

	transition-delay: calc(var(--transition-delay-base) * 4);
}

.menu.open li:nth-of-type(6) {
	--angle: calc((var(--full-angle) / var(--count-item)) * 5);

	transition-delay: calc(var(--transition-delay-base) * 5);
}

.menu.open li:hover {
	border: 1px solid var(--comp-bg-color);
	scale: 1.1;
}

.fade-in {
	animation: fade-in var(--animation-duration) ease-in-out forwards;
}

.fade-out {
	animation: fade-out var(--animation-duration) ease-in-out forwards;
}

@keyframes menu-open-animate-item {
	to {
		translate: calc(-50% + var(--x)) calc(-50% + var(--y));
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		scale: 0.75;
	}

	85% {
		scale: 1.15;
	}

	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		scale: 1;
	}

	100% {
		opacity: 0;
		scale: 0.75;
	}
}
