<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none">
	<defs>
		<filter id="goo">
			<feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
			<feColorMatrix
				in="blur"
				mode="matrix"
				values="1 0 0 0 0  
                         0 1 0 0 0  
                         0 0 1 0 0  
                         0 0 0 25 -8"
				result="goo"
			/>
			<feBlend in="SourceGraphic" in2="goo" />
		</filter>
	</defs>
</svg>

<div class="menu" [class.open]="menuOpen()" [style.--count-item]="menuItems.length">
	<button class="background" (click)="toggleMenu()">
		<span>MENU</span>
	</button>
	<ul class="list">
		@for (item of menuItems; track $index) {
			<app-menu-link
				[fragment]="item.fragment"
				[text]="item.text"
				[rotate]="item.rotate"
				(closeMenu)="$event && closeMenu()"
				[class.open]="menuOpen()"
				[style.--index]="$index"
				><ng-container [ngTemplateOutlet]="item.template()" svg-icon></ng-container
			></app-menu-link>
		}

		<ng-template #start><app-svg-hero /></ng-template>
		<ng-template #whyme><app-svg-why-me /></ng-template>
		<ng-template #skills><app-svg-skills /></ng-template>
		<ng-template #projects><app-svg-projects /></ng-template>
		<ng-template #references><app-svg-references /></ng-template>
		<ng-template #contact><app-svg-contact /></ng-template>
	</ul>
</div>
