@use "../../../global-styles/mixins";

:host {
	display: contents;
}

.menu {
	padding-block: 1rem;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to bottom, var(--accent-color) -50%, var(--comp-bg-color));
	top: 0;
	translate: 0 -100%;
	left: 0;
	width: 100%;
	transition: translate var(--transition-eternity);
	z-index: 50;
	border-bottom-left-radius: var(--header-border-radius);
	border-bottom-right-radius: var(--header-border-radius);
}

.menu.active {
	translate: 0 calc(var(--header-height) - 1px);
	z-index: 50;
}

a,
button {
	font-family: inherit;
	font-size: var(--fs-menu-a);
	color: var(--text-color-darker);
}

a:hover,
a.active,
button:hover,
button.active {
	color: var(--accent-color);

	@include mixins.multi-shadow(var(--text-color-darker));
}

.languages {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
}

.divider {
	width: 1px;
	height: 66%;
	border: 1px solid var(--text-color-darker);
}
