@use "../../../global-styles/mixins";

:host {
	position: fixed;
	bottom: 1rem;
	right: 50%;
	z-index: 100;
	translate: 50% 0%;

	@include mixins.desktop {
		bottom: 2rem;
	}
}

button {
	font-family: inherit;
}

.menu {
	--transition-delay-base: var(--transition-fast);
	--transition-base: var(--transition-eternity);

	height: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
	filter: url("#goo");

	@include mixins.desktop {
		height: 75px;
	}
}

.background {
	--animation-duration: calc(
		var(--transition-delay-base) * (var(--count-item) - 1) + var(--transition-base)
	);

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	place-items: center;
	align-self: center;
	padding: 1rem;
	height: 100%;
	width: 100%;
	background-color: var(--comp-bg-color);
	border-radius: inherit;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	z-index: 2;
	transition:
		background-color var(--transition-base),
		scale var(--animation-duration);
	// clip-path: inset(-10% -10% 40% -10%);

	span {
		font-size: var(--fs-large);
		color: var(--text-color-light);
		grid-row: 1 /2;
		grid-column: 1 /2;
		transition: color var(--transition-base);
	}
}

.menu.open .background {
	background-color: var(--comp-text-color);
	scale: 1.25;

	span {
		color: var(--text-color-dark);
	}
}

ul {
	position: relative;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}
