<!-- <div class="menu dark-shadow" [class.active]="menuOpen()">
	<a routerLink="/" fragment="why-me" (click)="closeMenu()">Why me</a>
	<a routerLink="/" fragment="skills" (click)="closeMenu()">My Skill Set</a>
	<a routerLink="/" fragment="projects" (click)="closeMenu()">My Work</a>
	<a routerLink="/" fragment="contact" (click)="closeMenu()">Contact me</a>
	<app-languages />
</div> -->

<div class="menu" [class.open]="menuOpen()">
	<button class="background" (click)="toggleMenu()">
		<span>MENU</span>
	</button>
	<ul class="list">
		<li>
			<app-svg-hero />
			<a class="router" routerLink="/" (click)="onProjectRefClicked($event, '#')">
				<app-svg-round-text text="START" rotate="37deg" />
			</a>
		</li>
		<li>
			<app-svg-why-me />
			<a
				class="router"
				routerLink="/"
				fragment="why-me"
				(click)="onProjectRefClicked($event, 'why-me')"
			>
				<app-svg-round-text text="WHY ME" rotate="20deg" />
			</a>
		</li>
		<li>
			<app-svg-skills />
			<a
				class="router"
				routerLink="/"
				fragment="skills"
				(click)="onProjectRefClicked($event, 'skills')"
			>
				<app-svg-round-text text="SKILLS" rotate="37deg" />
			</a>
		</li>
		<li>
			<app-svg-projects />
			<a
				class="router"
				routerLink="/"
				fragment="projects"
				(click)="onProjectRefClicked($event, 'projects')"
			>
				<app-svg-round-text text="PROJECTS" rotate="15deg" />
			</a>
		</li>
		<li>
			<app-svg-references />
			<a
				class="router"
				routerLink="/"
				fragment="references"
				(click)="onProjectRefClicked($event, 'references')"
			>
				<app-svg-round-text text="REFERENCES" rotate="-13deg" />
			</a>
		</li>
		<li>
			<app-svg-contact />
			<a
				class="router"
				routerLink="/"
				fragment="contact"
				(click)="onProjectRefClicked($event, 'contact')"
			>
				<app-svg-round-text text="CONTACT" rotate="15deg" />
			</a>
		</li>
	</ul>
</div>
