<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none">
	<defs>
		<filter id="goo">
			<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
			<feColorMatrix
				in="blur"
				mode="matrix"
				values="1 0 0 0 0  
                         0 1 0 0 0  
                         0 0 1 0 0  
                         0 0 0 25 -8"
				result="goo"
			/>
			<feBlend in="SourceGraphic" in2="goo" />
		</filter>
	</defs>
</svg>

<div class="menu" [class.open]="menuOpen()">
	<button class="background" (click)="toggleMenu()">
		<span>MENU</span>
	</button>
	<ul class="list">
		<li>
			<app-svg-hero />
			<a class="router" routerLink="/" (click)="onProjectRefClicked($event, '#')">
				<app-svg-round-text text="START" rotate="37deg" />
			</a>
		</li>
		<li>
			<app-svg-why-me />
			<a
				class="router"
				routerLink="/"
				fragment="why-me"
				(click)="onProjectRefClicked($event, 'why-me')"
			>
				<app-svg-round-text text="WHY ME" rotate="20deg" />
			</a>
		</li>
		<li>
			<app-svg-skills />
			<a
				class="router"
				routerLink="/"
				fragment="skills"
				(click)="onProjectRefClicked($event, 'skills')"
			>
				<app-svg-round-text text="SKILLS" rotate="37deg" />
			</a>
		</li>
		<li>
			<app-svg-projects />
			<a
				class="router"
				routerLink="/"
				fragment="projects"
				(click)="onProjectRefClicked($event, 'projects')"
			>
				<app-svg-round-text text="PROJECTS" rotate="15deg" />
			</a>
		</li>
		<li>
			<app-svg-references />
			<a
				class="router"
				routerLink="/"
				fragment="references"
				(click)="onProjectRefClicked($event, 'references')"
			>
				<app-svg-round-text text="REFERENCES" rotate="-13deg" />
			</a>
		</li>
		<li>
			<app-svg-contact />
			<a
				class="router"
				routerLink="/"
				fragment="contact"
				(click)="onProjectRefClicked($event, 'contact')"
			>
				<app-svg-round-text text="CONTACT" rotate="15deg" />
			</a>
		</li>
	</ul>
</div>
