@use "../../../global-styles/mixins";

:host {
	display: contents;
}

.arrow {
	display: none;

	@include mixins.desktop {
		--arrow-width: clamp(4rem, 0.298rem + 7.702vw, 8rem);

		display: inline-block;
		align-self: end;
		width: var(--arrow-width);
	}

	&:hover {
		filter: drop-shadow(0 0 10px var(--accent-color));
	}
}

.left {
	rotate: 180deg;
}

.align-self-start {
	align-self: start;
}

.align-self-center {
	align-self: center;
}

img {
	height: auto;
}
