@use "../../../global-styles/mixins";

:host {
	display: contents;
}

:host.mobile {
	@include mixins.desktop {
		display: none;
	}
}

:host.desktop {
	display: none;

	@include mixins.desktop {
		display: contents;
	}
}

.arrow {
	--arrow-width: 10vw;

	display: inline-flex;
	align-self: end;
	width: var(--arrow-width);
	aspect-ratio: 1;
	align-content: center;
	z-index: 10;
	flex-shrink: 0;

	@include mixins.desktop {
		--arrow-width: clamp(3rem, 0.5rem + 6.25vw, 7rem);

		max-height: 100%;
	}
}

.align-self-start {
	align-self: start;
}

.align-self-center {
	align-self: center;
}
